.App {
  text-align: center;
  margin: 0em auto 2em;
  max-width: 48em;
  font: {
    size: 1em;
    family: 'Nunito Sans', helvetica, arial, sans-serif;
    weight: 600;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  font-size: 1.15em;
  line-height: 1.5em;
  padding: 1.5em 1.75em 0;

}
header{
  border-bottom: 1px solid rgba($color: hsl(257, 78%, 31%), $alpha: 1.0);
  margin-bottom: 1em;
}

article {
  text-align: left;
}

